html, body {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}
@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: bolder;
src: local('SEGA LOGO FONT'), url('./container/SEGA.woff') format('woff');
}

.glitch {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  font-size: 50px;
  /* color: #0ccac4; */
}

a{
  text-decoration: none
}
.flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.flip-container.hover .flipper,.flip-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.back,.flip-container,.front {
    width: 320px;
    height: 322px
}

.flipper {
    transition: .6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative
}

.back,.front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
img {
  height: 200px;
  width: 200px;
}
.name {
  font-size: 25px;
  font-display: bold;
}
.github-ribbon{
  background-color:#121621;
  top:3.2em;
  right:-3.7em;
  transform:rotate(45deg);
  box-shadow:0 0 0 1px #1d212e inset,0 0 2px 1px #fff inset,0 0 1em #888;
  /* color:rgba(255,255,255,0.9); */
  display:block;
  padding:.6em 3.5em;
  position:absolute;
  font:bold .82em sans-serif;
  text-align:center;
  text-decoration:none;
  text-shadow:1px -1px 8px rgba(0,0,0,0.6);
  user-select:none}

  .curse {
    font: 400 15px/1.2 'Leckerli One', Helvetica, sans-serif;
    color: #000;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
    text-decoration: underline;
    text-decoration-color: chocolate;
  }
  .why {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.loadera {
    width: 10em;
    height: 10em;
    font-size: 25px;
    box-sizing: border-box;
    border-top: 0.3em solid hotpink;
    border-radius: 50%;
    position: relative;
    animation: rotating 2s ease-in-out infinite;
    --direction: 1;
}

.loadera::before,
.loadera::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    top: -0.2em;
}

.loadera::before {
    border-top: 0.3em solid dodgerblue;
    transform: rotate(120deg);
}

.loadera::after {
    border-top: 0.3em solid gold;
    transform: rotate(240deg);
}

.loadera span {
    position: absolute;
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 10em;
    font-family: sans-serif;
    animation: rotating 2s linear infinite;
    --direction: -1;
}

@keyframes rotating {
    50% {
        transform: rotate(calc(180deg * var(--direction)));
    }

    100% {
        transform: rotate(calc(360deg * var(--direction)));
    }
}
